/* Add your styles here */

body{
    background-color: black;
}

.board {
    margin:auto;
    width:50%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
}

.dark {
    background-color: #996633;
}

.light {
    background-color: #ffcc99;
}

.legal{
    background-color: #ff3333;
}

.red {
    background-color: #ff3333;
}

.black {
    background-color: #000;
}